.container{
    display: grid;
    height: calc(100vh - 200px);
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    position: absolute;
    margin: auto;
    /* grid-gap: 10px; */
}
.item{
    height: 100%;
    background-color: #38A3A5;
    border: 3px solid #57CC99;
}

header{
    margin: auto;
    height: 100px;
    width: 100%;
    background-color: #22577A;
    top: 0px;
}
footer{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #C7F9CC;
    bottom: 0px;
}