header{
    height: 100px;
    width: max-content;
    background-color: #56CBF9;
    margin: auto;
    position: absolute;
    
}
.Container{
    position: absolute;
    height:  calc(100vh - 210px); 
    top:110px;
    bottom: calc(100% - 100px);
    display: grid;
    grid-template-columns: 10fr 480fr;
    grid-gap: 10px;
}
.item{
    
    background-color: #56CBF9;
    border: 3px solid lightblue;
}
footer{
    height: 100px;
    width: max-content;
    background-color: #DBD8F0;
    position: absolute;
    bottom: 0px;
    float: bottom;
    margin: auto;
    position: absolute;
}